$paleBlue: hsl(225, 100%, 94%);
$brightBlue: hsl(245, 75%, 52%);

$veryPaleBlue: hsl(225, 100%, 98%);
$desaturatedBlue: hsl(224, 23%, 55%);
$darkBlue: hsl(223, 47%, 23%);

$hoverBlue: hsl(219, 56%, 64%);

:root {
	font-family: "Red Hat Display", sans-serif;
}

// css reset
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

input,
textarea,
button,
select {
	font: inherit;
}

body {
	background-image: url("../images/pattern-background-desktop.svg");
	background-repeat: repeat-x;
	background-size: 100% 50vh;
	min-height: 100vh;
	display: grid;
	place-content: center;
	background-color: $veryPaleBlue;
}

p {
	color: $desaturatedBlue;
}

.main-card {
	display: flex;
	flex-direction: column;
	max-width: 25rem;
	border-radius: 1em;
	overflow: hidden;
	background-color: white;
	box-shadow: 0 5px 45px 0px $desaturatedBlue;
	.summary {
		display: flex;
		flex-direction: column;
		text-align: center;
		padding: 2em;
		gap: 1em;
		h2 {
			font-weight: 900;
			font-size: 1.7rem;
		}

		.annual-plan {
			display: flex;
			gap: 1em;
			text-align: left;
			align-items: center;
			padding: 1em;
			background-color: $veryPaleBlue;
			border-radius: 1em;
			h3 {
				font-size: 1rem;
				font-weight: 900;
			}
			a {
				margin-left: auto;
				font-weight: 900;
				color: $brightBlue;
				transition: 75ms ease-in-out;
				&:hover {
					color: $hoverBlue;
				}
			}
		}

		button {
			width: 100%;
			padding: 1em;
			font-weight: 900;
			border: none;
			border-radius: 0.5rem;
			transition: 75ms ease-in-out;
			&:hover {
				cursor: pointer;
			}
			&.proceed {
				color: white;
				background-color: $brightBlue;
				box-shadow: 0 10px 10px 5px $paleBlue;
				&:hover {
					background-color: $hoverBlue;
				}
			}
			&.cancel {
				background-color: transparent;
				color: $desaturatedBlue;
				&:hover {
					color: $darkBlue;
				}
			}
		}
	}
}
